/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining parameters for external services (mail, Slack etc)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This file mostly deals with parameters that may have to be supplied via
    Nextflow secrets (https://www.nextflow.io/docs/latest/secrets.html).
    Nextflow secrets are used to pass sensitive information that shouldn't be
    logged or leaked through the pipeline run.
----------------------------------------------------------------------------------------
*/

/*
    From the Nextflow docs: https://www.nextflow.io/docs/latest/mail.html
    "If no mail server configuration is provided, Nextflow tries to send the
    email by using the external mail command eventually provided by the underlying
    system (eg. sendmail or mail)."

    In the environments spun by Nextflow Tower on AWS Batch, the underlying
    sendmail or mail calls are not available, so you have to specify SMTP
    credentials to send arbitrary emails during or after the pipeline run. The
    secrets are supplied via Pipeline Secrets (https://help.tower.nf/22.3/secrets/overview/)
    on Nextflow Tower.
*/
mail {
    smtp.host = null
    smtp.port = null
    smtp.user = null
    smtp.password = null
    smtp.ssl.protocols = 'TLSv1.2'
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}
